* {
  box-sizing: border-box;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  width: 100%;
  background-color: #1a1e24;
}

form {
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #1976d2;
}

small {
  color: red;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #1976d2;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #125ea9;
}
.credentials-info{
  display: flex;
  flex-direction: column; 
  text-align: center;
  padding-top: 10px;
  gap: 1;
}