<h2 mat-dialog-title class="text-xl font-bold">Detalle del Producto</h2>

<mat-dialog-content class="mat-typography">
    <div class="flex flex-col gap-3 py-2">
        <div *ngIf="product.image" class="w-full flex justify-center mb-2" style="max-height: 150px; overflow: hidden;">
            <img [src]="product.image" [alt]="product.name" class="rounded-lg shadow-md"
                style="max-height: 150px; width: auto; object-contain: contain;" />
        </div>
        <p><strong>ID:</strong> {{ product.id }}</p>
        <p><strong>Nombre:</strong> {{ product.name }}</p>
        <p><strong>Precio:</strong> {{ product.price }}</p>
        <p><strong>Stock disponible:</strong> {{ product.stock | number }} unidades</p>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="close()">Cerrar</button>
</mat-dialog-actions>