
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$budget-buddy-app-primary: mat.define-palette(mat.$indigo-palette);
$budget-buddy-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$budget-buddy-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$budget-buddy-app-theme: mat.define-light-theme((
  color: (
    primary: $budget-buddy-app-primary,
    accent: $budget-buddy-app-accent,
    warn: $budget-buddy-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($budget-buddy-app-theme);

@import 'assets/scss/variables';
@import 'bootstrap/scss/bootstrap';
@import 'assets/scss/table';
@import 'assets/scss/button';
@import 'toastify-js/src/toastify';

.section-title {
  margin: 0;
  font-weight: bold;
  color: $my-dark-color;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}